__pycache__/
.venv
venv/

.DS_Store
.vscode/
.idea/
dataset/
works_on_mutation/
.Rproj.user

# R temporary and workspace files
.RData
.RDataTmp
.RDataTmp1
.RDataTmp2
.RDataTmp3
.Rhistory
.Rapp.history